# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Android build outputs & cache
android/.gradle/
android/build/
android/app/build/
*.keystore
!debug.keystore

# Metro / React Native cache
.metro/
.expo/

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
